/* Color palette */
:root {
  --mainBabyBlue: #70d6ff;
  --mainFrenchPink: #ff70a6;
  --mainLightSalmon: #ff9770;
  --mainOrangeYellowCrayola: #ffd670;
  --mainMindaro: #e9ff70;
  --mainRichBlackFOGRA39: #02020a;
  --mainRed: #b80c09;
  --mainWhite: #ffffff;
  --mainGreen: #59cd90;
}

/* Custom fonts */
@font-face {
  font-family: "God of War";
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/god-of-war.woff) format("woff");
}

@font-face {
  font-family: "Oh Whale - OTF";
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/Oh-Whale-OTF.woff) format("woff");
}

@font-face {
  font-family: raleway;
  src: url("../fonts/raleway-v28-latin-regular.woff") format(woff);
}

/* Body styles */
body {
  font-family: raleway, Tahoma, Geneva, Verdana, sans-serif;
  background-color: #4a2040;
}

/* Link styles */
a {
  text-decoration: none;
  color: var(--mainRichBlackFOGRA39);
  transition: 0.3s;
}

a:hover {
  opacity: 1;
}

/* Container styles */
.cont {
  height: 100vh;
}

/* Game container styles */
.game-container {
  background-color: var(--mainFrenchPink);
  box-shadow: 0px 0px 16px -3px rgba(0, 0, 0, 1);
  height: 450px;
}

/* Icon styles */
.icon {
  color: var(--mainRichBlackFOGRA39);
  opacity: 0.5;
}

/* Game main styles */
.game-main {
  height: 75%;
}

/* Game title styles */
.game-title {
  font-family: "Oh Whale - OTF";
  font-size: 50px;
  text-shadow: var(--mainWhite) 1px 1px 10px;
}

/* Game button styles */
.game-btn {
  background-color: var(--mainMindaro);
  font-size: 20px;
  font-weight: 700;
  color: var(--mainRichBlackFOGRA39);
  transition: 0.3s;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 1);
}

.game-btn:active {
  background-color: var(--mainMindaro) !important;
  border: none;
  outline: none;
}

.game-btn:hover {
  background-color: var(--mainMindaro);
  transform: translateY(-2px);
}

/* Number input styles */
.numb {
  padding-right: 5px;
  padding-left: 10px;
  font-size: 25px;
  font-weight: 700;
}

/* Game footer styles */
.game-footer {
  height: 15vh;
}

/* Game footer text styles */
.game-footer-text {
  font-weight: 700;
}

/* Score styles */
.score-win {
  color: var(--mainGreen);
  font-weight: 900;
}

.score-lose {
  color: var(--mainRed);
  font-weight: 900;
}

/* Reset button styles */
.reset-btn {
  background-color: transparent;
  border: 0;
  outline: 0;
  font-weight: 500;
  color: var(--mainRichBlackFOGRA39);
  opacity: 0.5;
  transition: 0.3s;
}
.reset-btn:hover {
  opacity: 1;
}
